* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 2rem;
    height: 100%;
}

.hamburger, footer, img, hr, a {
    filter: invert(50%);
}

.container {
    display: flex;
    flex-flow: column;
    border-radius: 0.75rem;

    width: 30rem;
    margin: 1rem auto;

    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.logo img {
    width: 4rem;
    height: 100%;
}

.hamburger {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.bar {
    width: 2rem;
    height: 0.15rem;
    background-color: black;
    border-radius: 0.075rem;
}

.search {
    display: flex;
    justify-content: center;
    gap: 1rem;

    padding: 1rem 3rem;
}

.search input {
    flex: 1;
    background-color: lightgray;
    border-radius: 0.25rem;
    border-style: none;
}

main {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;

    padding: 3rem;
}

main a {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 35%;
    width: 8rem;
    text-decoration: none;
}

footer {
    font-size: 1.15rem;
    text-align: center;
    padding: 2rem;
}